---
import { i18n } from "@i18n/runtime";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollectionByLocale, getEntryDataByLocale } from "@utils/data";

export function getStaticPaths() {
  return i18n.codes.map((locale) => ({
    params: {
      locale: locale === i18n.defaultLocale ? undefined : locale,
    },
  }));
}

const { href } = i18n.use(Astro.currentLocale);

const [ui, projects] = await Promise.all([
  getEntryDataByLocale("ui", Astro.currentLocale),
  getCollectionByLocale("projects", Astro.currentLocale),
]);
---

<BaseLayout pageTitle={ui.page.projects.title} ui={ui}>
  <ul>
    {projects.map((project) => {
      const slug = project.id.split('/').pop();
      return (
        <li>
          <a href={href(`projects/${slug}`)}>
            {project.data.title}
          </a>
        </li>
      );
    })}
  </ul>
</BaseLayout>
