---
import type { CollectionEntry } from "astro:content";

interface Props {
  contacts: CollectionEntry<"contacts">[];
}

const { contacts } = Astro.props;
---

<address>
  <ul>
    {contacts.map((contact) => (
        <li>
          <a href={contact.data.href} aria-label={contact.data.ariaLabel}>
            {contact.id}
          </a>
        </li>
      ))}
  </ul>
</address>
