---
import { i18n } from "@i18n/runtime";

type Props = {
  start: Date;
  end: Date | null;
  presentLabel: string;
};

const { start, end, presentLabel } = Astro.props;
const { formatDate } = i18n.use(Astro.currentLocale);

const startLabel = formatDate(start);
const endLabel = end ? formatDate(end) : presentLabel;
const toISODate = (d: Date) => d.toISOString().slice(0, 10);
---

<p>
  <time datetime={toISODate(start)}>{startLabel}</time>&nbsp;&ndash;&nbsp;
  {end ? <time datetime={toISODate(end)}>{endLabel}</time> : endLabel}
</p>
