---
import { useI18n } from "@i18n/utils";

type Props = {
  start: Date;
  end: Date | null;
};

const { start, end } = Astro.props;

const { t, d } = useI18n(Astro.currentLocale);

const startLabel = d(start);
const endLabel = end ? d(end) : t("date.present");
const toISODate = (d: Date) => d.toISOString().slice(0, 10);
---

<p>
  <time datetime={toISODate(start)}>{startLabel}</time>&nbsp;&ndash;&nbsp;
  {end ? <time datetime={toISODate(end)}>{endLabel}</time> : endLabel}
</p>
