---
import LanguagePicker from "@components//LanguagePicker.astro";
import Navigation from "@components/Navigation.astro";
import { useI18n } from "@i18n/utils";

const { t } = useI18n(Astro.currentLocale);
---

<header>
  <a href="#main">{t("skip_to_main")}</a>
  <Navigation />
  <LanguagePicker />
</header>
