---
import { i18n } from "@i18n/runtime";

const { locale, hrefTo } = i18n.use(Astro.currentLocale);

const otherLocales = i18n.codes.filter((l) => l !== locale);
---

<ul>
  {otherLocales.map((l) =>  (
      <li>
        <a
          href={hrefTo(l, Astro.url.pathname)}
          hreflang={l}
          lang={l}
          rel="alternate"
        >{i18n.names[l]}</a>
      </li>
    ))}
</ul>
