---
import { useI18n } from "@i18n/utils";

const { t, path } = useI18n(Astro.currentLocale);
---

<nav>
  <ul>
    <li><a href={path("")}>{t("nav.home")}</a></li>
    <li><a href={path( "projects")}>{t("nav.projects")}</a></li>
  </ul>
</nav>
