---
import type { CollectionEntry } from "astro:content";
import { i18n } from "@i18n/runtime";

interface Props {
  nav: CollectionEntry<"ui">["data"]["nav"];
}

const { nav } = Astro.props;
const { href } = i18n.use(Astro.currentLocale);
---

<nav>
  <ul>
    <li><a href={href("")}>{nav.home}</a></li>
    <li><a href={href("projects")}>{nav.projects}</a></li>
  </ul>
</nav>
