---
import { useI18n } from "@i18n/utils";

const { t, localizePath } = useI18n(Astro.currentLocale);
---

<nav>
  <ul>
    <li><a href={localizePath("")}>{t("nav.home")}</a></li>
    <li><a href={localizePath( "projects")}>{t("nav.projects")}</a></li>
  </ul>
</nav>
