---
import type { CollectionEntry } from "astro:content";
import { i18n } from "@i18n/runtime";

interface Props {
  nav: CollectionEntry<"ui">["data"]["nav"];
}

const { nav } = Astro.props;
const { href } = i18n.use(Astro.currentLocale);
const links = [
  { label: nav.home, path: "" },
  { label: nav.projects, path: "projects" },
];
---

<nav>
  <ul role="list">
    {links.map(({ label, path }) => {
      const targetUrl = href(path);
      const isActive = targetUrl === Astro.url.pathname;

      return (
        <li>
          <a
            href={targetUrl}
            aria-current={isActive ? "page" : undefined}
          >
            {label}
          </a>
        </li>
      );
    })}
  </ul>
</nav>
