---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Projects";
const projects = await getCollection("projects");
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {projects.map((project) => (
        <li>
          <a href={project.id}>{project.data.title}</a>
        </li>
      ))}
  </ul>
</BaseLayout>
